h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span Construir programas modulares mediante funciones, que involucren el manejo de las variables locales y globales, para dar solución a problemas computacionales.