

.container#ejercicios

    .header-ecored

        h1 3. Ejercicios aplicando funciones
    
    .row.mx-0.recuadro1

        .col-12

            p Hasta el momento se ha visto la parte teórica con respecto a la aplicación de las funciones; si bien se trata de un contenido de menor complejidad, la importancia real del tema se adquiere cuando se pone en práctica y de este modo es posible comprender por completo los conceptos presentados.

            p.m-0 A continuación se ilustra la definición, declaración y el llamado de funciones con diferentes ejercicios que utilizan variables globales y locales.

        .col-12.text-center

            img(src="assets/images/pages/img27.svg", style="max-width: 60%").mt-5.img-fluid

        .col-12.my-5

            p.m-0 Se recomienda al aprendiz abrir el programa Dev-C++ e ir digitando, compilando y ejecutando los ejercicios vistos; lo anterior le servirá para adquirir la práctica necesaria en el lenguaje e irse preparando con miras a la solución de las evidencias requeridas en la actividad de aprendizaje 3.

    br

    .row.mx-0.recuadro4.justify-content-center.mx-5

        .col-5.mt-4

            .card

                a.btn(href="media/documentos/MF3_Ejemplo_01_Ambito_de_variables.pdf" target="_blank").media-link      

                    img(src="assets/images/pages/img76.svg", alt="").media-link-icon

                    .media-link-title

                        .row
                            .col-12.p-0
                                p.txt-btn #[strong Ejemplo 1] 
                            .col-12.d-none.d-sm-none.d-md-none.d-lg-block.p-0
                                p.txt-btn Ámbito de variables

        .col-5.mt-4

            .card

                a.btn(href="media/documentos/MF3_Ejemplo_02_Suma.pdf" target="_blank").media-link      

                    img(src="assets/images/pages/img76.svg", alt="").media-link-icon

                    .media-link-title
                        
                        .row
                            .col-12.p-0
                                p.txt-btn #[strong Ejemplo 2] 
                            .col-12.d-none.d-sm-none.d-md-none.d-lg-block.p-0
                                p.txt-btn Suma

        .col-5

            .card

                a.btn(href="media/documentos/MF3_Ejemplo_03_Cubo.pdf" target="_blank").media-link      

                    img(src="assets/images/pages/img76.svg", alt="").media-link-icon

                    .media-link-title
                        
                        .row
                            .col-12.p-0
                                p.txt-btn #[strong Ejemplo 3] 
                            .col-12.d-none.d-sm-none.d-md-none.d-lg-block.p-0
                                p.txt-btn Cubo

        .col-5

            .card

                a.btn(href="media/documentos/MF3_Ejemplo_04_Mayor.pdf" target="_blank").media-link      

                    img(src="assets/images/pages/img76.svg", alt="").media-link-icon

                    .media-link-title
                        
                        .row
                            .col-12.p-0
                                p.txt-btn #[strong Ejemplo 4] 
                            .col-12.d-none.d-sm-none.d-md-none.d-lg-block.p-0
                                p.txt-btn Mayor

        .col-5

            .card

                a.btn(href="media/documentos/MF3_Ejemplo_05_Multiplos.pdf" target="_blank").media-link      

                    img(src="assets/images/pages/img76.svg", alt="").media-link-icon

                    .media-link-title
                        
                        .row
                            .col-12.p-0
                                p.txt-btn #[strong Ejemplo 5] 
                            .col-12.d-none.d-sm-none.d-md-none.d-lg-block.p-0
                                p.txt-btn Múltiplos

        .col-5

            .card

                a.btn(href="media/documentos/MF3_Ejemplo_06_Arreglos.pdf" target="_blank").media-link      

                    img(src="assets/images/pages/img76.svg", alt="").media-link-icon

                    .media-link-title
                        
                        .row
                            .col-12.p-0
                                p.txt-btn #[strong Ejemplo 6] 
                            .col-12.d-none.d-sm-none.d-md-none.d-lg-block.p-0
                                p.txt-btn Arreglos

    br

    .row.mx-0.recuadro4.justify-content-center.mx-5

        .col-5.mt-4

            .card

                a.btn(href="media/documentos/MF3_Ejemplo_07_Operaciones.pdf" target="_blank").media-link      

                    img(src="assets/images/pages/img76.svg", alt="").media-link-icon

                    .media-link-title

                        .row
                            .col-12.p-0
                                p.txt-btn #[strong Ejemplo 7] 
                            .col-12.d-none.d-sm-none.d-md-none.d-lg-block.p-0
                                p.txt-btn Operaciones

        .col-5.mt-4

            .card

                a.btn(href="media/documentos/MF3_Ejemplo_08_Notas.pdf" target="_blank").media-link      

                    img(src="assets/images/pages/img76.svg", alt="").media-link-icon

                    .media-link-title
                        
                        .row
                            .col-12.p-0
                                p.txt-btn #[strong Ejemplo 8] 
                            .col-12.d-none.d-sm-none.d-md-none.d-lg-block.p-0
                                p.txt-btn Notas

        .col-5

            .card

                a.btn(href="media/documentos/MF3_Ejemplo_09_Conversion.pdf" target="_blank").media-link      

                    img(src="assets/images/pages/img76.svg", alt="").media-link-icon

                    .media-link-title
                        
                        .row
                            .col-12.p-0
                                p.txt-btn #[strong Ejemplo 9] 
                            .col-12.d-none.d-sm-none.d-md-none.d-lg-block.p-0
                                p.txt-btn Conversión

        .col-5

            .card

                a.btn(href="media/documentos/MF3_Ejemplo_10_Potencia.pdf" target="_blank").media-link      

                    img(src="assets/images/pages/img76.svg", alt="").media-link-icon

                    .media-link-title
                        
                        .row
                            .col-12.p-0
                                p.txt-btn #[strong Ejemplo 10] 
                            .col-12.d-none.d-sm-none.d-md-none.d-lg-block.p-0
                                p.txt-btn Potencia

        .col-5

            .card

                a.btn(href="media/documentos/MF3_Ejemplo_11_Raiz.pdf" target="_blank").media-link      

                    img(src="assets/images/pages/img76.svg", alt="").media-link-icon

                    .media-link-title
                        
                        .row
                            .col-12.p-0
                                p.txt-btn #[strong Ejemplo 11] 
                            .col-12.d-none.d-sm-none.d-md-none.d-lg-block.p-0
                                p.txt-btn Raíz

        .col-5

            .card

                a.btn(href="media/documentos/MF3_Ejemplo_12_Cubo_en_ciclo.pdf" target="_blank").media-link      

                    img(src="assets/images/pages/img76.svg", alt="").media-link-icon

                    .media-link-title
                        
                        .row
                            .col-12.p-0
                                p.txt-btn #[strong Ejemplo 12] 
                            .col-12.d-none.d-sm-none.d-md-none.d-lg-block.p-0
                                p.txt-btn Cubo en ciclo