include ../mixins/functions

+pageHeader('Uso y declaración de funciones', 'assets/images/header/header_media.svg')

.container#ejercicios

    .header-ecored

        h1 3. Ejercicios aplicando funciones
    
    .row.mx-0.recuadro1

        .col-12

            p Hasta el momento se ha visto la parte teórica con respecto a la aplicación de las funciones, si bien se trata de un contenido de menor complejidad, la importancia real del tema se adquiere cuando se pone en práctica y de este modo es posible comprender por completo los conceptos presentados.

            p.m-0 A continuación se ilustra la definición, declaración y el llamado de funciones con diferentes ejercicios que utilizan variables globales y locales.

        .col-12.text-center

            img(src="assets/images/pages/img27.svg", style="max-width: 60%").mt-5.img-fluid

        .col-12.my-5

            p.m-0 Se recomienda al aprendiz abrir el programa Dev-C++ e ir digitando, compilando y ejecutando los ejercicios vistos, lo anterior le servirá para adquirir la práctica necesaria en el lenguaje e irse preparando con miras a la solución de las evidencias requeridas en la actividad de aprendizaje 3.

        .col-12.mb-5

            nav.nav-tab-ecored
                #nav-tab.nav.nav-tabs(role='tablist')
                    a#nav-04-tab.nav-item.nav-link.active(data-toggle='tab', href='#nav-04', role='tab', aria-controls='nav-04', aria-selected='true') 
                        strong Ámbito de variables
                    a#nav-05-tab.nav-item.nav-link(data-toggle='tab', href='#nav-05', role='tab', aria-controls='nav-05', aria-selected='false') 
                        strong Suma
                    a#nav-06-tab.nav-item.nav-link(data-toggle='tab', href='#nav-06', role='tab', aria-controls='nav-06', aria-selected='false') 
                        strong Cubo
                    a#nav-07-tab.nav-item.nav-link(data-toggle='tab', href='#nav-07', role='tab', aria-controls='nav-07', aria-selected='false') 
                        strong Mayor
                    a#nav-08-tab.nav-item.nav-link(data-toggle='tab', href='#nav-08', role='tab', aria-controls='nav-08', aria-selected='false') 
                        strong Múltiplos
                    a#nav-09-tab.nav-item.nav-link(data-toggle='tab', href='#nav-09', role='tab', aria-controls='nav-09', aria-selected='false') 
                        strong Arreglos
                    
                #nav-tabContent.tab-content
                    #nav-04.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='nav-04-tab')

                        .row.my-5.justify-content-center.align-items-center

                            .col-12

                                .embed-responsive.embed-responsive-16by9
                                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/5xcsAMs088I', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

                    #nav-05.tab-pane.fade(role='tabpanel', aria-labelledby='nav-05-tab')
                        
                        .row.my-5.justify-content-center.align-items-center

                            .col-12

                                .embed-responsive.embed-responsive-16by9
                                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/5xcsAMs088I', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

                    #nav-06.tab-pane.fade(role='tabpanel', aria-labelledby='nav-06-tab')

                        .row.my-5.justify-content-center.align-items-center

                            .col-12

                                .embed-responsive.embed-responsive-16by9
                                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/5xcsAMs088I', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

                    #nav-07.tab-pane.fade(role='tabpanel', aria-labelledby='nav-07-tab')

                        .row.my-5.justify-content-center.align-items-center

                            .col-12

                                .embed-responsive.embed-responsive-16by9
                                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/5xcsAMs088I', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

                    #nav-08.tab-pane.fade(role='tabpanel', aria-labelledby='nav-08-tab')

                        .row.my-5.justify-content-center.align-items-center

                            .col-12

                                .embed-responsive.embed-responsive-16by9
                                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/5xcsAMs088I', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

                    #nav-09.tab-pane.fade(role='tabpanel', aria-labelledby='nav-09-tab')

                        .row.my-5.justify-content-center.align-items-center

                            .col-12

                                .embed-responsive.embed-responsive-16by9
                                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/5xcsAMs088I', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

        .col-12

            nav.nav-tab-ecored
                #nav-tab.nav.nav-tabs(role='tablist')
                    a#nav-10-tab.nav-item.nav-link.active(data-toggle='tab', href='#nav-10', role='tab', aria-controls='nav-10', aria-selected='true') 
                        strong Operaciones
                    a#nav-11-tab.nav-item.nav-link(data-toggle='tab', href='#nav-11', role='tab', aria-controls='nav-11', aria-selected='false') 
                        strong Notas
                    a#nav-12-tab.nav-item.nav-link(data-toggle='tab', href='#nav-12', role='tab', aria-controls='nav-12', aria-selected='false') 
                        strong Conversión
                    a#nav-13-tab.nav-item.nav-link(data-toggle='tab', href='#nav-13', role='tab', aria-controls='nav-13', aria-selected='false') 
                        strong Potencia
                    a#nav-14-tab.nav-item.nav-link(data-toggle='tab', href='#nav-14', role='tab', aria-controls='nav-14', aria-selected='false') 
                        strong Raíz
                    a#nav-15-tab.nav-item.nav-link(data-toggle='tab', href='#nav-15', role='tab', aria-controls='nav-15', aria-selected='false') 
                        strong Cubo en ciclo
                    
                #nav-tabContent.tab-content
                    #nav-10.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='nav-10-tab')

                        .row.my-5.justify-content-center.align-items-center

                            .col-12

                                .embed-responsive.embed-responsive-16by9
                                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/5xcsAMs088I', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

                    #nav-11.tab-pane.fade(role='tabpanel', aria-labelledby='nav-11-tab')
                        
                        .row.my-5.justify-content-center.align-items-center

                            .col-12

                                .embed-responsive.embed-responsive-16by9
                                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/5xcsAMs088I', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

                    #nav-12.tab-pane.fade(role='tabpanel', aria-labelledby='nav-12-tab')

                        .row.my-5.justify-content-center.align-items-center

                            .col-12

                                .embed-responsive.embed-responsive-16by9
                                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/5xcsAMs088I', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

                    #nav-13.tab-pane.fade(role='tabpanel', aria-labelledby='nav-13-tab')

                        .row.my-5.justify-content-center.align-items-center

                            .col-12

                                .embed-responsive.embed-responsive-16by9
                                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/5xcsAMs088I', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

                    #nav-14.tab-pane.fade(role='tabpanel', aria-labelledby='nav-14-tab')

                        .row.my-5.justify-content-center.align-items-center

                            .col-12

                                .embed-responsive.embed-responsive-16by9
                                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/5xcsAMs088I', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

                    #nav-15.tab-pane.fade(role='tabpanel', aria-labelledby='nav-15-tab')

                        .row.my-5.justify-content-center.align-items-center

                            .col-12

                                .embed-responsive.embed-responsive-16by9
                                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/5xcsAMs088I', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')